/* sidebar */
.sidebar {
    text-align: left;
    padding: 2rem 0;
    color: rgba(255,255,255,.7);
}

.sidebar-about h1 {
    font-size: 42px;
}
.lead {
    font-size: 16px;
}
.copyright { font-size: 16px }

.sidebar-nav-item {
    font-size: 22px;
    padding: 5px 0;
    border-bottom: 1px solid rgba(255,255,255,.5);
}
.content { padding-top: 2rem; }
img.mugshot {
    width: 220px; border-radius: 50%;
}
.map-container > iframe { max-width: 100%; }

@media screen and (min-width: 768px) {
    .sidebar { padding: 2rem 1rem; }
    .sidebar-about h1 {
        font-size: 44px;
    }
    .lead {
        font-size: 18px;
    }
    .copyright { font-size: 18px }
    .sidebar-nav-item {
        font-size: 24px;
        padding: 4px 0;
        border-bottom: 1px solid rgba(255,255,255,.5);
    }
    .content { padding-top: 4rem; }
    img.mugshot {
        width: 360px; border-radius: 50%;
    }
}